@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

a.navbar-brand{
    margin-left: 15%;
}
#navbarNav{
    margin-right: 15%;
}

a.navbar-brand{font-family: Arial , Helvetica, Franklin Gothic Medium;}

.btn-circle {
    width: 30px;
    height: 30px;
    padding: 6px 0px;
    border-radius: 15px;
    font-size: 8px;
    text-align: center;
}

ul{
	list-style: none;
}

.mobile{
    height: 200px;
    width: 150px;
    background-color: #555;
      border-top-right-radius: 25px;
    border-top-left-radius: 25px;
    
  }

  .nav-list li a{color: black;}

  .nav-list li a:hover{text-decoration: none;}

@media only screen and (max-width: 600px) {
    a.navbar-brand{
        margin-left: 0;
    }
    #navbarNav{
        margin-right: 0;
    }
    }
  }
